.container {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 3fr 3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "nav-container"
      "datosPersonales"
      "experiencia"
      "habilidades";
  }
  
  .nav-container {  
    justify-self: center;
    grid-area: nav-container;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .datosPersonales { grid-area: datosPersonales; 
    z-index: 2;
    }
  
  .experiencia { grid-area: experiencia; 
    z-index: 3;
    }
  
  .habilidades { grid-area: habilidades; 
    z-index: 4;
    }
  