p {
  margin-left: 5px;
}

.container {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 3fr 3fr 3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "nav-container"
      "datosPersonales"
      "experiencia"
      "habilidades";
  }
  
  .nav-container {  
    justify-self: center;
    grid-area: nav-container;
    position: sticky;
    background-color: lightslategray;
    top: 0;
    z-index: 1;
  }
  .fotoPerfil{
    float: left;
    width: 128px;
    height: 128px;
    padding: 5px;
    border: 1px solid blue;    
  }
  .datosPersonales { grid-area: datosPersonales; 
    }
  
  .experiencia { grid-area: experiencia; 
    }
  
  .habilidades { grid-area: habilidades; 
    }
  