* {
  font-family: 'Roboto Mono', monospace;
  color: #1A120B;
  background-color: #E5E5CB;
}

h1 {
  margin: 1px 1px 1px 1px;
  border: 1px solid #3C2A21;    
  padding: 1px 1px 1px 1px;
}

p {
  margin-left: 5px;
}

.container {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 3fr 3fr 3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "nav-container"
      "datosPersonales"
      "experiencia"
      "habilidades";
  }
  
  .nav-container {  
    justify-self: center;
    grid-area: nav-container;
    position: sticky;
    background-color: #D5CEA3;
    margin: 1px 1px 1px 1px;
    border: 1px solid #3C2A21;    
    padding: 1px 1px 1px 1px;
    top: 0;
    z-index: 1;
  }
  .datosPersonales { grid-area: datosPersonales; 
    background-color: #D5CEA3;
    }
  
  .experiencia { grid-area: experiencia; 
    background-color: #D5CEA3;
    }
  
  .habilidades { grid-area: habilidades;
    background-color: #D5CEA3; 
    }

  .icon-border {
    border: 1px solid #3C2A21;
    padding: 10px;
    margin: 10px;
    border-radius: 10%;
  }
  .fotoPerfil{
    float: left;
    width: 128px;
    height: 128px;
    padding: 5px;
    margin: 10px;
    border: 1px solid #3C2A21;    
  }
  